/*Variables*/
:root{
  --c1: #280137;
  --c2: #37012B;
  --c3: #0D0137;
  --c4: #FFFFFF;
  --c5: #000000;
  --c6: #999999;
}

/*General*/
.navbar .navbar-nav a.nav-link{
  color: var(--c1);
}

.navbar .navbar-nav a.nav-link:hover{
  color: var(--c2);
}

.mainNav{
  background-color: var(--c6);
}

footer{
  border-top: 5px solid var(--c3);
  margin-top: 10px;
  padding: 10px 0;
}
h1,h2,h3{
  text-align: center;
}

.pgWrapper > section:not(:first-of-type){
  padding-top: 20px;
}
/*Page*/




/*Responsive*/