/*Variables*/
:root{
  --c1: #280137;
  --c2: #37012B;
  --c3: #0D0137;
  --c4: #FFFFFF;
  --c5: #000000;
  --c6: #999999;
}

/*General*/
.navbar .navbar-nav a.nav-link{
  color: var(--c1);
}

.navbar .navbar-nav a.nav-link:hover{
  color: var(--c2);
}

.mainNav{
  background-color: var(--c6);
}
.total, .cartItems{
  margin-top: 25px;
}
.total-txt{
  width: 50%;

}
.total-txt, .total{
  display: flex;
  justify-content: space-between;
}
footer{
  border-top: 5px solid var(--c3);
  margin-top: 10px;
  padding: 10px 0;
}
h1,h2,h3{
  text-align: center;
}

.pgWrapper > section:not(:first-of-type){
  padding-top: 20px;
}
/*Page*/

.songInfo{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.infoItem{
  width: 30%;
}
.cart{
  color: white;
  border-radius: 20px;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 1px 5px 10px #989898;
  background-color: #280137;
  padding: 15px;
}
.cartItems{
  width: 100%;
  text-align: left;
}

/*SignUp*/
figure.formStripeWrapper{
  border: 3px solid #000;
  max-width: 500px;
  margin: 0 auto;
  /*padding:  1em;*/
}
.formStripeWrapperInner{
  /*maxWidth: "500px";*/
  margin: "0 auto";
}
.formStripe{
  display: "block";
  width: "100%",;
}
.formStripe > div{
  display: "flex";
  flexDirection: "column";
  alignItems: "center";
}
fieldset.FormGroup{
  /*width: 100%;*/
}
.FormRow {
    display:grid;
    grid-template-columns: .5fr 1fr;
    grid-gap:5px;
    padding: 1em;
}
.FormRow label       { text-align:right; }
.FormRow label:after { content: ":"; }

/*Responsive*/