/*Variables*/
:root{
  --c1: #280137;
  --c2: #37012B;
  --c3: #0D0137;
  --c4: #FFFFFF;
  --c5: #000000;
  --c6: #999999;
}

/*General*/
.navbar .navbar-nav a.nav-link{
  color: var(--c1);
}

.navbar .navbar-nav a.nav-link:hover{
  color: var(--c2);
}

.mainNav{
  background-color: var(--c6);
}
.hero{
  width: 75%;
  margin: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ctaBlock{
  display: flex;
  justify-content: space-around;
}
.ctaSect{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}
.genres, .popularSect{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  /*grid-template-rows: 1fr 1fr 1fr;*/
}
.genreItem, .popTrack{
  height: 250px;
  border: 2px solid black;
  border-radius: 5px;
}
.genreItem p{
  text-align: center;
  position: relative; 
  top: 50%;
}
.popTrack p{
  text-align: center;
}
.total, .cartItems{
  margin-top: 25px;
}
.total-txt{
  width: 50%;

}
.total-txt, .total{
  display: flex;
  justify-content: space-between;
}
footer{
  border-top: 5px solid var(--c3);
  margin-top: 10px;
  padding: 10px 0;
}
h1,h2,h3{
  text-align: center;
}

.pgWrapper > section:not(:first-of-type){
  padding-top: 20px;
}
/*Page*/
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
.songInfo{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.infoItem{
  width: 30%;
}
.cart{
  color: white;
  border-radius: 20px;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 1px 5px 10px #989898;
  background-color: #280137;
  padding: 15px;
}
.cartItems{
  width: 100%;
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Responsive*/